body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #3d3d3d;
}

.container {
    padding: 0px;
    background: #b3b3b3;
}

.app {
    width: 1280px;
    height: 960px;
    background-image: url('./bg.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#num1 {
    position: relative;
    top: 440px;
    left: 655px;
    width: 50px;
}

#num2 {
    position: relative;
    top: 440px;
    left: 695px;
    width: 50px;
}

#less {
    position: relative;
    top: 400px;
    left: 570px;
    min-width: 60px;
    height: 40px;
}

#result {
    position: relative;
    font-size: 64px;
    top: 430px;
    left: 675px;
}

#greater {
    position: relative;
    top: 400px;
    left: 530px;
    min-width: 60px;
    height: 40px;
}

#reset {
    position: relative;
    top: 475px;
    left: 460px;
    min-width: 60px;
    height: 40px;
}

#less:disabled,
#greater:disabled {
    opacity: 0.5;
}